body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,37,121,0.16710434173669464) 35%, rgba(0,212,255,1) 100%);
}
.windows_container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-template-rows: repeat(3,minmax(150px,auto)); // This creates 4 rows.
  max-width: 80px;
  grid-gap: 15px;
  margin-left:  60px;
  margin-right: 60px;

}

.box{
  background:  green;;
  padding: 30px;
  text-align: center;;
  color: white;

}
.windows_container div:nth-child(even){
  background: blue;
}

p {
  color: white;
  position: relative;;
  left: 300px;
  font-size: 40px;
}
